<a href="https://colab.research.google.com/github/ChirudeepG/Assignment-1/blob/master/hellopython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
import sys
import os

print("hello world")

name = "derek"
print(name)

hello world
derek

In [ ]:
print("5+2=", 5+2)
print("5-2=", 5-2)
print("5*2=", 5*2)
print("5/2=", 5/2)
print("5%2=", 5%2)
print("5**2=", 5**2)
print("5//2=", 5//2)

5+2= 7
5-2= 3
5*2= 10
5/2= 2.5
5%2= 1
5**2= 25
5//2= 2

In [ ]:
print("1+2-3*2=",1+2-3*2)
print("(1+2-3)*2=",(1+2-3)*2)

1+2-3*2= -3
(1+2-3)*2= 0

In [ ]:
quote="Always remember that you are unique"

multiline_quote=''' just
like everyone else'''

print("%s %s %s" % ('I like the quote',quote,multiline_quote))
print("I dont like ", end="")
print("newlines")

I like the quote Always remember that you are unique  just
like everyone else
I dont like newlines

In [ ]:
grocery_list=['juice','tomato','potato','bananas']
print('first item is', grocery_list[0])

grocery_list[0]="green juice"
print('first item is',grocery_list[0])

print(grocery_list[1:3])

other_events=['wash car','pickup kids','cash check']
to_do_list=[other_events,grocery_list]
print(to_do_list)
print((to_do_list[1][1]))
grocery_list.append('onions')
print(to_do_list)

grocery_list.insert(1, "pickle")
grocery_list.remove("pickle")
grocery_list.sort()
grocery_list.reverse()
del grocery_list[4]
print(to_do_list)

to_do_list2=other_events+grocery_list

print(len(to_do_list2))
print(max(to_do_list2))
print(min(to_do_list2))

first item is juice
first item is green juice
['tomato', 'potato']
[['wash car', 'pickup kids', 'cash check'], ['green juice', 'tomato', 'potato', 'bananas']]
tomato
[['wash car', 'pickup kids', 'cash check'], ['green juice', 'tomato', 'potato', 'bananas', 'onions']]
[['wash car', 'pickup kids', 'cash check'], ['tomato', 'potato', 'onions', 'green juice']]
7
wash car
cash check

In [ ]:
pi_tuple=(3,1,4,1,5,9)
new_tuple=list(pi_tuple)
new_list=tuple(new_tuple)

print(len(pi_tuple))
print(min(pi_tuple))
print(max(pi_tuple))

6
1
9

In [ ]:
super_villains={'fiddler':'issac bowin','cap':'lenord','wizard':'mark'}
print(super_villains['cap'])
del super_villains['fiddler']
super_villains['wizard']='jack'
print(len(super_villains))
print(super_villains.get("wizard"))

lenord
2
jack

In [ ]:
age=21
if age>16:
  print('you are old enough to drive')
else:
  print('you are not old enough to drive')

if age>=21:
  print('you are old to drive trailor')
elif age>=16:
  print('you are old enough to drive car')
else:
  print('you are not old enough to drive')

you are old enough to drive
you are old to drive trailor

In [ ]:
for x in range(0,10):
  print(x,'',end='')
print('\n')

grocery_list=['juice','tomato','potato','bananas']

for y in grocery_list:
  print(y)

for x in [2,4,6,8,10]:
  print(x)

num_list = [[1,2,3],[10,20,30],[100,200,300]]

for x in range(0,3):
  for y in range(0,3):
    print(num_list[x][y])

0 1 2 3 4 5 6 7 8 9

juice
tomato
potato
bananas
2
4
6
8
10
1
2
3
10
20
30
100
200
300

In [ ]:
random_num=random.randrange(0,100)

while(random_num !=15):
  print(random_num)
  random_num=random.randrange(0,100)

i=0;

while(i<=20):
    if(i%2==0):
        print(i)
    elif(i==9):
      break
    else:
      i +=1
      continue
    i +=1

95
84
55
13
55
29
16
82
16
48
55
69
30
11
96
36
96
50
40
31
37
48
95
69
44
25
40
83
0
2
4
6
8

In [ ]:
print("what is your name")
name=sys.stdin.readline()
print('hello',name)

what is your name
hello

In [ ]:
long_string="i will catch u if u fall on the floor"
print(long_string[0:4])
print(long_string[-5:])
print(long_string[:-5])
print(long_string[:4] + "be there")
print("%c is my % s letter and number %d number is %.5f" %('X', 'favorite',1, .14))

print(long_string.capitalize())
print(long_string.find("floor"))
print(long_string.isalpha())
print(long_string.isalnum())
print(len(long_string))
print(long_string.replace("floor","ground"))
print(long_string.strip())
quote_list= long_string.split(" ")
print(quote_list)

i wi
floor
i will catch u if u fall on the
i wibe there
X is my favorite letter and number 1 number is 0.14000
I will catch u if u fall on the floor
32
False
False
37
i will catch u if u fall on the ground
i will catch u if u fall on the floor
['i', 'will', 'catch', 'u', 'if', 'u', 'fall', 'on', 'the', 'floor']

In [ ]:
test_file=open("test.txt","wb")
print(test_file.mode)
print(test_file.name)
test_file.write(bytes("write me to the file \n", 'UTF-8'))
test_file.close()
test_file=open("test.txt","r+")
text_in_file=test_file.read()
print(text_in_file)
os.remove("test.txt")

wb
test.txt
write me to the file

In [ ]:
class Animal:
  __name = ""
  __height = 0
  __weight = 0
  __sound = 0

  def __init__(self, name, height, weight, sound):
    self.__name = name
    self.__height = height
    self.__weight = weight
    self.__sound = sound

  def set_name(self, name):
    self.__name = name
  
  def set_height(self,height):
    self.__height = height

  def set_weight(self,weight):
    self.__weight = weight

  def set_sound(self,sound):
    self.__sound = sound

  def get_name(self):
    return self. __name

  def get_height(self):
    return self. __height

  def get_weight(self):
    return self. __weight

  def get_sound(self):
    return self. __sound

  def get_type(self):
    print("Animal")
    
  def toString(self):
    return "{} is {} cm tall and {} kilograms and say {}".format(self.__name,self.__height,self.__weight,self.__sound)

cat = Animal('Whiskers', 33, 10, 'Meow')

print(cat.toString())


class Dog(Animal):
  __owner = ""

  def __init__(self, name, height, weight, sound, owner):
    self.__owner = owner
    super(Dog, self).__init__(name, height, weight, sound)

  def set_owner(self, owner):
    self.__owner = owner

  def get_owner(self):
    return self.__owner

  def get_type(self):
    print("Dog")

  def toString(self):
    return "{} is {} cm tall and {} kilograms and say {} and his owner is {}".format(self.get_name(), self.get_height(), self.get_weight(), self.get_sound(), self.__owner)


  def multiple_sounds(self, how_many=None):
    if how_many is None:
      print(self.get_sound())
    else:
      print(self.get_sound() * how_many)

spot = Dog("Spot", 53 ,27 , "ruff", "John")

print(spot.toString())

class AnimalTesting:
  def get_type(self, animal):
    animal.get_type()

test_animals = AnimalTesting()

test_animals.get_type(cat)
test_animals.get_type(spot)

Whiskers is 33 cm tall and 10 kilograms and say Meow
Spot is 53 cm tall and 27 kilograms and say ruff and his owner is John
Animal
Dog

Some other examples

In [ ]:
def merge_sort(arr):
    if len(arr) > 1:
        mid = len(arr) // 2
        left = arr[:mid]
        right = arr[mid:]
        merge_sort(left)
        merge_sort(right)
        i = j = k = 0
        while i < len(left) and j < len(right):
            if left[i] < right[j]:
                arr[k] = left[i]
                i += 1
            else:
                arr[k] = right[j]
                j += 1
            k += 1
        while i < len(left):
            arr[k] = left[i]
            i += 1
            k += 1
        while j < len(right):
            arr[k] = right[j]
            j += 1
            k += 1
    return arr
arr=[1,2,3,4,5,6,7,8,27,272,9,10]
print(merge_sort(arr))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 27, 272]

In [ ]:
def binary_search(arr, x):
    low = 0
    high = len(arr) - 1
    mid = 0
    while low <= high:
        mid = (high + low) // 2
        if arr[mid] < x:
            low = mid + 1
        elif arr[mid] > x:
            high = mid - 1
        else:
            return mid
    return -1
arr=[1,2,3,4,5,6,7,8,9,10]
x = 10
result = binary_search(arr, x)
if result != -1:
    print("Element is present at index", str(result))
else:
    print("Element is not present in array")

Element is present at index 9

In [ ]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
n = 10
if n <= 0:
    print("Plese enter a positive integer")
else:
    print("Fibonacci sequence:")
    for i in range(n):
        print(fibonacci(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
def armstrong(n):
    sum = 0
    temp = n
    while temp > 0:
        digit = temp % 10
        sum += digit ** 3
        temp //= 10
    if n == sum:
        return True
    else:
        return False    
n = 2671
print(armstrong(n))

#sum of two numbers is equal to third number in array
def sum_of_two(arr):
    for i in range(len(arr)):
        for j in range(i+1,len(arr)):
            for k in range(j+1,len(arr)):
                if arr[i]+arr[j]==arr[k]:
                    return True
    return False
arr=[1,2,3,4,5,6,7,8,9,10]
print(sum_of_two(arr))

False
True

In [ ]:
def reverse_string(string):
    return string[::-1]
string="Geeksforgeeks"
print(reverse_string(string))

skeegrofskeeG

In [ ]:
def anagram(string1,string2):
    if sorted(string1)==sorted(string2):
        return True
    else:
        return False
string1="listen"
string2="silent"
print(anagram(string1,string2))

True